{"openapi":"3.1","info":{"title":"Yummy Rides - Corporate Integrations API","version":"1.0.0","contact":{}},"servers":[{"url":"https://api-tst.yummyrides.com","description":"URL de ambiente de pruebas"},{"url":"https://api.yummyrides.com","description":"URL de ambiente producción"}],"paths":{"/api/v1/quotation/api-corporate":{"post":{"summary":"Create Quotation","description":"Endpoint para cotizar viaje. Se debe de llamar a este endpoint previo a solicitar un viaje ya que se necesita tanto el quotationId como el serviceTypeId de su respuesta. El peso dentro del body esta expresado en Kg.","operationId":"createQuotation","parameters":[{"name":"Api-Key","in":"header","schema":{"type":"string","example":"\u003cAPI_KEY\u003e","description":"Llave para autenticación con el servicio."}},{"name":"language","in":"header","schema":{"type":"string","example":"es","description":"Lenguaje para los mensajes de respuesta. Puede ser 'en' o 'es'."}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"destinationLatitude":{"type":"number","example":10.504558},"destinationLongitude":{"type":"number","example":-66.850718},"pickupLatitude":{"type":"number","example":-10.4511404},"pickupLongitude":{"type":"number","example":-66.8800692},"weight":{"type":"number","example":1,"description":"Valor opcional expresado en Kg"}}},"examples":{"Create Quotation":{"value":{"destinationLatitude":10.504558,"destinationLongitude":-66.850718,"pickupLatitude":-10.4511404,"pickupLongitude":-66.8800692,"weight":1}}}}}},"responses":{"200":{"description":"Create Quotation 200 Example","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","example":"36"},"response":{"type":"object","properties":{"distance":{"type":"number","example":9.25},"eta":{"type":"number","example":828},"message":{"type":"string","example":"Cotizacion realizada correctamente"},"quotationId":{"type":"string","example":"656f985793b298575c17b882"},"success":{"type":"boolean","example":true},"trip_services":{"type":"array","items":{"type":"object","properties":{"estimated_fare":{"type":"number","example":3},"name":{"type":"string","example":"Estandar M"},"service_type_id":{"type":"string","example":"62bb0f25553aaae8cfba718f","description":"Valor utilizado como serviceTypeId en el endpoint de solicitar viaje."},"typename":{"type":"string","example":"Mandaditos"}}},"example":[{"estimated_fare":3,"name":"Estandar M","service_type_id":"62bb0f25553aaae8cfba718f","typename":"Mandaditos"},{"estimated_fare":5.72,"name":"XL","service_type_id":"62be266b0592bf51f737b9b7","typename":"Mandaditos XL"},{"estimated_fare":9.3,"name":"XXL","service_type_id":"62be27520592bf51f737b9c6","typename":"Mandaditos XXL"}]}}},"status":{"type":"number","example":201}}},"examples":{"Create Quotation 200 Example":{"value":{"code":"36","response":{"distance":9.25,"eta":828,"message":"Cotizacion realizada correctamente","quotationId":"656f985793b298575c17b882","success":true,"trip_services":[{"estimated_fare":3,"name":"Estandar M","service_type_id":"62bb0f25553aaae8cfba718f","typename":"Mandaditos"},{"estimated_fare":5.72,"name":"XL","service_type_id":"62be266b0592bf51f737b9b7","typename":"Mandaditos XL"},{"estimated_fare":9.3,"name":"XXL","service_type_id":"62be27520592bf51f737b9c6","typename":"Mandaditos XXL"}]},"status":201}}}}}},"400":{"description":"Create Quotation No Service Available / Create Quotation No Service in City Available","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string","example":"421"},"response":{"type":"object","properties":{"error_description":{"type":"array","items":{},"example":[]},"message":{"type":"string","example":"No se ha encontrado el servicio que solicitaste"},"method":{"type":"string","example":"POST"},"name":{"type":"string","example":"HttpException"},"path":{"type":"string","example":"/api/v1/quotation/api-corporate"},"reqBody":{"type":"object","properties":{"destinationLatitude":{"type":"number","example":10.504558},"destinationLongitude":{"type":"number","example":-66.850718},"pickupLatitude":{"type":"number","example":10.4511404},"pickupLongitude":{"type":"number","example":-66.8800692},"weight":{"type":"number","example":1200}}},"stack":{"type":"string","example":"HttpException: No se ha encontrado el servicio que solicitaste\n    at GetApiCorporateQuotationService.getServicesFareEstimate (/usr/src/app/src/modules/quotation/services/v1/get-api-corporate-quotation.service.ts:386:13)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)"},"success":{"type":"boolean","example":false},"timestamp":{"type":"string","example":"2023-12-05T21:39:56.891Z"},"type":{"type":"string","example":"error"}}},"status":{"type":"number","example":400}}},"examples":{"Create Quotation No Service Available":{"value":{"error_code":"421","response":{"error_description":[],"message":"No se ha encontrado el servicio que solicitaste","method":"POST","name":"HttpException","path":"/api/v1/quotation/api-corporate","reqBody":{"destinationLatitude":10.504558,"destinationLongitude":-66.850718,"pickupLatitude":10.4511404,"pickupLongitude":-66.8800692,"weight":1200},"stack":"HttpException: No se ha encontrado el servicio que solicitaste\n    at GetApiCorporateQuotationService.getServicesFareEstimate (/usr/src/app/src/modules/quotation/services/v1/get-api-corporate-quotation.service.ts:386:13)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)","success":false,"timestamp":"2023-12-05T21:39:56.891Z","type":"error"},"status":400}},"Create Quotation No Service in City Available":{"value":{"error_code":"421","response":{"error_description":[],"message":"No hay servicios disponibles en tu ciudad.","method":"POST","name":"HttpException","path":"/api/v1/quotation/api-corporate","reqBody":{"destinationLatitude":10.504558,"destinationLongitude":-66.850718,"pickupLatitude":-10.4511404,"pickupLongitude":-66.8800692,"weight":1},"stack":"HttpException: No hay servicios disponibles en tu ciudad.\n    at GetApiCorporateQuotationService.getServicesFareEstimate (/usr/src/app/src/modules/quotation/services/v1/get-api-corporate-quotation.service.ts:129:13)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)","success":false,"timestamp":"2023-12-05T21:56:51.331Z","type":"error"},"status":400}}}}}}}}},"/api/v1/trip/api-corporate":{"post":{"summary":"Create Trip","description":"Endpoint para solicitar viaje. Se debe haber cotizado el viaje previamente para indicar la cotizacion y el tipo de servicio.","operationId":"createTrip","parameters":[{"name":"Api-Key","in":"header","schema":{"type":"string","example":"\u003cAPI_KEY\u003e"}},{"name":"language","in":"header","schema":{"type":"string","example":"es"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"destinationAddress":{"type":"string","example":"Alto Prado, Calle Portachuelo, Quinta Ilusiones"},"payerId":{"type":"string","example":"65411a4221180dce3d65cf9e","description":"ID asignado a partner, se le va a proporcionar."},"paymentMode":{"type":"number","example":7,"description":"Si el metodo de pago es POS se debe enviar 4. Si el metodo de pago es cash se debe enviar 1. De lo contrario por defecto debe enviar 7"},"quotationId":{"type":"string","example":"656f98e57b494e24748ef05d","description":"Campo proveniente de la cotizacion"},"receiver_country_phone_code":{"type":"string","example":"+58"},"receiver_first_name":{"type":"string","example":"Rodolfo"},"receiver_last_name":{"type":"string","example":"Franco"},"receiver_phone_number":{"type":"string","example":"4143223323"},"receiverPicture":{"type":"string","example":"image/picture.png","description":"Este campo es opcional pero se recomienda tratar de enviarlo siempre"},"serviceTypeId":{"type":"string","example":"62bb0f25553aaae8cfba718f","description":"Campo proveniente de la cotizacion"},"sourceAddress":{"type":"string","example":"Prados Del Este, Calle Los Turpiales, Quinta Taracoa"},"user_country_phone_code":{"type":"string","example":"+58","description":"Este campo no se debe enviar si se envia el storeDetail.storeCountryPhoneCode"},"user_first_name":{"type":"string","example":"Sebastian","description":"Este campo no se debe enviar si se envia el storeDetail.storeFullName"},"user_last_name":{"type":"string","example":"Alcala","description":"Este campo no se debe enviar si se envia el storeDetail.storeFullName"},"user_phone_number":{"type":"string","example":"4143334422","description":"Este campo no se debe enviar si se envia el storeDetail.storePhone"},"tripSource":{"type":"string","example":"62d3688d056a3dc9e4aa95c4"},"tripProducts":{"type":"array","items":{"type":"object","properties":{"image":{"type":"string","description":"URL de la imagen del producto","example":"https://project.s3.us-east-2.amazonaws.com/assets/images/products/products-icon-example.png"},"name":{"type":"string","description":"Nombre del producto","example":"Yummy Delivery"},"price":{"type":"number","description":"Precio del producto"},"quantity":{"type":"number","description":"Cantidad del producto","example":1},"currency_code":{"type":"string","description":"Código de moneda. 'USD' o 'BS'.","example":"USD"}},"required":["name","quantity"]}},"partnerOrderId":{"type":"string","example":"00001"},"totalOrderPrice":{"type":"number","example":10},"storeDetail":{"type":"object","properties":{"storeFavIcon":{"type":"string","description":"Imagen del icono de la tienda","example":"https://project.s3.us-east-2.amazonaws.com/assets/images/store/store-icon-example.png"},"storeAliasName":{"type":"string","description":"Alias de la tienda","example":"Shack"},"storeImage":{"type":"string","description":"Imagen de la tienda","example":"https://project.s3.us-east-2.amazonaws.com/assets/images/store/store-example.png"},"storeFullName":{"type":"string","description":"Nombre completo de la tienda","example":"Burger Shack"},"storeOrderId":{"type":"string","description":"ID del pedido de la tienda","example":"000001"},"storePhone":{"type":"string","description":"Número de teléfono de la tienda","example":"4242662325"},"storeCountryPhoneCode":{"type":"string","description":"Código de país del teléfono de la tienda","example":"+58"}},"required":["storeAliasName","storeFullName"],"description":"Objeto con información del comercio u origen del envío."},"cashCollected":{"type":"number","example":50,"description":"Este campo es requerido si el metodo de pago es efectivo, basicamente indica la cantidad de dinero con que el cliente pagara en efectivo"},"tipAmount":{"type":"number","example":2.5,"description":"Este campo es opcional y solamente se debe enviar si el cliente ha decidido darle propina al yummer"}},"required":["payerId","quotationId","serviceTypeId","sourceAddress","destinationAddress","receiver_first_name","receiver_last_name","receiver_phone_number","receiver_country_phone_code","paymentMode"]},"examples":{"Create Trip":{"value":{"destinationAddress":"Dirección escrita","payerId":"65411a4221180dce3d65cf9e","paymentMode":7,"quotationId":"656f98e57b494e24748ef05d","receiver_country_phone_code":"+58","receiver_first_name":"Rodolfo","receiver_last_name":"Franco","receiver_phone_number":"4143223323","serviceTypeId":"62bb0f25553aaae8cfba718f","sourceAddress":"Dirección escrita","user_country_phone_code":"+58","user_first_name":"Sebastian","user_last_name":"Alcala","user_phone_number":"4143334422","tripProducts":[{"image":"https://project.s3.us-east-2.amazonaws.com/assets/images/products/products-icon-example.png","name":"The big smash","price":8,"quantity":1,"currency_code":"USD"},{"image":"https://project.s3.us-east-2.amazonaws.com/assets/images/products/products-icon-example.png","name":"Cheeseburger","price":4.5,"quantity":1,"currency_code":"USD"}],"partnerOrderId":"000001","totalOrderPrice":20,"storeDetail":{"storeFavIcon":"https://project.s3.us-east-2.amazonaws.com/assets/images/store/store-icon-example.png","storeAliasName":"Shack","storeImage":"https://project.s3.us-east-2.amazonaws.com/assets/images/store/store-example.png","storeFullName":"Burger Shack","storeOrderId":"000001","storePhone":"4242662325","storeCountryPhoneCode":"+58"},"receiverPicture":"https://project.s3.us-east-2.amazonaws.com/assets/images/receiver/store-example.png"}}}}}},"responses":{"200":{"description":"Create Trip 200 Example","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","example":"9"},"response":{"type":"object","properties":{"message":{"type":"string","example":"Viaje creado correctamente"},"success":{"type":"boolean","example":true},"trip_id":{"type":"string","example":"656f98ec93b298575c17b898"},"trip_unique_id":{"type":"number","example":29714}}},"status":{"type":"number","example":201}}},"examples":{"Create Trip 200 Example":{"value":{"code":"9","response":{"message":"Viaje creado correctamente","success":true,"trip_id":"656f98ec93b298575c17b898","trip_unique_id":29714},"status":201}}}}}}}}},"/api/v1/trip/external-cancel-trip":{"post":{"summary":"Cancel trip by external","description":"Endpoint para cancelar viajes desde un panel externo, solo se debe usar para cancelar viajes que ya previamente fueron aceptados por un driver","operationId":"cancelTripByExternal","parameters":[{"name":"Api-Key","in":"header","schema":{"type":"string","example":"\u003cAPI_KEY\u003e","description":"Llave para autenticación con el servicio."}},{"name":"language","in":"header","schema":{"type":"string","example":"es","description":"Lenguaje para los mensajes de respuesta. Puede ser 'en' o 'es'."}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"tripId":{"type":"string","example":"62ebf843b83ae0a350b2bb22","description":"Este es el id del viaje que se desea cancelar"},"cancelReason":{"type":"string","example":"OC","description":"Este campo es opcional pero se recomienda enviar aqui el motivo de la cancelacion"}},"required":["tripId"]},"examples":{"Cancel Trip By External":{"value":{"tripId":"62ebf843b83ae0a350b2bb22","cancelReason":"OC"}}}}}},"responses":{"200":{"description":"Cancel trip by external 200 Example","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","example":"11"},"response":{"type":"object","properties":{"message":{"type":"string","example":"Tu viaje ha sido cancelado exitosamente"},"paymentMethod":{"type":"number","example":1},"paymentStatus":{"type":"number","example":1},"success":{"type":"boolean","example":true}}},"status":{"type":"number","example":200}}},"examples":{"Cancel trip by external 200 Example":{"value":{"code":"11","response":{"paymentMethod":1,"paymentStatus":1,"message":"Tu viaje ha sido cancelado exitosamente","success":true},"status":200}}}}}},"400":{"description":"Cancel trip by external no send tripId / cancel trip by external no send cancelReason","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string","example":"421"},"response":{"type":"object","properties":{"error_description":{"type":"array","items":{},"example":[]},"message":{"type":"string","example":"No se ha encontrado el servicio que solicitaste"},"method":{"type":"string","example":"POST"},"name":{"type":"string","example":"BadRequestException"},"path":{"type":"string","example":"/api/v1/trip/external-cancel-trip"},"reqBody":{"type":"object","properties":{"tripId":{"type":"string","example":""}}},"stack":{"type":"string","example":"BadRequestException: Bad Request Exception\n    at ValidationPipe.exceptionFactory (/usr/src/app/node_modules/@nestjs/common/pipes/validation.pipe.js:99:20)\n    at ValidationPipe.transform (/usr/src/app/node_modules/@nestjs/common/pipes/validation.pipe.js:72:30)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)\n    at resolveParamValue (/usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:147:23)\n    at async Promise.all (index 2)\n    at pipesFn (/usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:150:13)\n    at /usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:37:30"},"success":{"type":"boolean","example":false},"timestamp":{"type":"string","example":"2023-12-05T21:39:56.891Z"},"type":{"type":"string","example":"error"}}},"status":{"type":"number","example":400}}},"examples":{"Cancel trip by extenal error 400":{"value":{"error_code":"421","response":{"error_description":["tripId must be a mongodb id"],"message":"Ha ocurrido un error, verifica la información suministrada","method":"POST","name":"BadRequestException","path":"/api/v1/trip/api-corporate","reqBody":{"tripId":""},"stack":"BadRequestException: Bad Request Exception\n    at ValidationPipe.exceptionFactory (/usr/src/app/node_modules/@nestjs/common/pipes/validation.pipe.js:99:20)\n    at ValidationPipe.transform (/usr/src/app/node_modules/@nestjs/common/pipes/validation.pipe.js:72:30)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)\n    at resolveParamValue (/usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:147:23)\n    at async Promise.all (index 2)\n    at pipesFn (/usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:150:13)\n    at /usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:37:30","success":false,"timestamp":"2023-12-05T21:39:56.891Z","type":"error"},"status":400}}}}}}}}},"/api/v1/payment-trip/pay-payment-b2b":{"post":{"summary":"Force trip complete by external","description":"Endpoint para forzar completado desde un externo, solo se debe usar para completar viajes que hayan sido retornados al origen","operationId":"payPaymentCorporate","parameters":[{"name":"Api-Key","in":"header","schema":{"type":"string","example":"\u003cAPI_KEY\u003e","description":"Llave para autenticación con el servicio."}},{"name":"language","in":"header","schema":{"type":"string","example":"es","description":"Lenguaje para los mensajes de respuesta. Puede ser 'en' o 'es'."}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"tripId":{"type":"string","example":"62ebf843b83ae0a350b2bb22","description":"Este es el id del viaje que se desea cancelar"},"forceB2B":{"type":"boolean","example":"true","description":"Campo obligatorio para poder forzar la completación del viaje"}},"required":["tripId","forceB2B"]},"examples":{"Complete Trip By External":{"value":{"tripId":"62ebf843b83ae0a350b2bb22","forceB2B":"true"}}}}}},"responses":{"200":{"description":"Complete trip by external 200 Example","content":{"application/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"message":{"type":"string","example":"Tu viaje ha sido completado correctamente"},"paymentStatus":{"type":"number","example":1},"success":{"type":"boolean","example":true}}},"status":{"type":"number","example":200}}},"examples":{"Complete trip by external 200 Example":{"value":{"response":{"paymentStatus":1,"message":"Tu viaje ha sido completado correctamentete","success":true},"status":200}}}}}},"400":{"description":"Complete trip by external empty tripId","content":{"application/json":{"schema":{"type":"object","properties":{"error_code":{"type":"string","example":"437"},"response":{"type":"object","properties":{"error_description":{"type":"array","items":{},"example":[]},"message":{"type":"string","example":"Viaje no encontrado"},"method":{"type":"string","example":"POST"},"name":{"type":"string","example":"BadRequestException"},"path":{"type":"string","example":"/api/v1/payment-trip/pay-payment-b2b"},"reqBody":{"type":"object","properties":{"tripId":{"type":"string","example":""}}},"stack":{"type":"string","example":"BadRequestException: Bad Request Exception\n    at ValidationPipe.exceptionFactory (/usr/src/app/node_modules/@nestjs/common/pipes/validation.pipe.js:99:20)\n    at ValidationPipe.transform (/usr/src/app/node_modules/@nestjs/common/pipes/validation.pipe.js:72:30)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)\n    at resolveParamValue (/usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:147:23)\n    at async Promise.all (index 2)\n    at pipesFn (/usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:150:13)\n    at /usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:37:30"},"success":{"type":"boolean","example":false},"timestamp":{"type":"string","example":"2023-12-05T21:39:56.891Z"},"type":{"type":"string","example":"error"}}},"status":{"type":"number","example":400}}},"examples":{"Complete trip by external error 400":{"value":{"error_code":"437","response":{"error_description":["tripId must be a mongodb id"],"message":"Ha ocurrido un error, verifica la información suministrada","method":"POST","name":"BadRequestException","path":"/api/v1/trip/api-corporate","reqBody":{"tripId":""},"stack":"BadRequestException: Bad Request Exception\n    at ValidationPipe.exceptionFactory (/usr/src/app/node_modules/@nestjs/common/pipes/validation.pipe.js:99:20)\n    at ValidationPipe.transform (/usr/src/app/node_modules/@nestjs/common/pipes/validation.pipe.js:72:30)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)\n    at resolveParamValue (/usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:147:23)\n    at async Promise.all (index 2)\n    at pipesFn (/usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:150:13)\n    at /usr/src/app/node_modules/@nestjs/core/router/router-execution-context.js:37:30","success":false,"timestamp":"2023-12-05T21:39:56.891Z","type":"error"},"status":400}}}}}}}}},"/api/v1/trip/api-status-by-corporate/{id}":{"get":{"summary":"Get Trip Status","description":"Endpoint para obtener status de un viaje. Se le debe enviar el campo trip_id que se retorna en la respuesta al solicitar un viaje.","operationId":"getTripStatus","parameters":[{"name":"Api-Key","in":"header","schema":{"type":"string","example":"\u003cAPI_KEY\u003e"}},{"name":"language","in":"header","schema":{"type":"string","example":"es"}}],"responses":{"200":{"description":"Get Trip Status 200 Example / Get Trip Status 404 Example","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","example":"10"},"response":{"type":"object","properties":{"message":{"type":"string","example":"Status del viaje obtenido con éxito"},"success":{"type":"boolean","example":true},"trip":{"type":"object","properties":{"_id":{"type":"string","example":"60fae752683c6d5c9b3df4b6"},"statusCode":{"type":"number","example":0},"statusText":{"type":"string","example":"Cancelado"},"unique_id":{"type":"number","example":656}}}}},"status":{"type":"number","example":200}}},"examples":{"Get Trip Status 200 Example":{"value":{"code":"10","response":{"message":"Status del viaje obtenido con éxito","success":true,"trip":{"_id":"60fae752683c6d5c9b3df4b6","statusCode":0,"statusText":"Cancelado","unique_id":656}},"status":200}},"Get Trip Status 404 Example":{"value":{"code":"10","response":{"message":"El viaje no se ha podido obtener","success":true},"status":404}}}}}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","example":"60fae752683c6d5c9b3df4b6"}}]}},"webhooks":{"TRIP_STATUS":{"post":{"description":"Ha cambiado el status de un viaje en Yummy Rides.","requestBody":{"description":"Data actualizada del viaje en Yummy Rides","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tripStatus"}}}},"responses":{"200":{"description":"Return a 200 status to indicate that the data was received successfully"}}}},"TRIP_CANCEL":{"post":{"description":"El driver ha cancelado el viaje, se debe solicitar el viaje nuevamente.","requestBody":{"description":"Viaje cancelado por driver en Yummy Rides","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tripCancel"}}}},"responses":{"200":{"description":"Return a 200 status to indicate that the data was received successfully"}}}},"TRIP_CANCEL_BY_ADMIN":{"post":{"description":"Este status solo se envia cuando uno de nuestros operadores cancela el viaje. No debe de realizarse una solicitud nuevamente..","requestBody":{"description":"Viaje cancelado por un operador en Yummy Rides","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tripCancelByAdmin"}}}},"responses":{"200":{"description":"Return a 200 status to indicate that the data was received successfully"}}}},"TRIP_REASSIGN":{"post":{"description":"Se está reasignando a tu driver. Pronto recibirás su información.","requestBody":{"description":"Viaje en proceso de reasignación en Yummy Rides","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tripReassign"}}}},"responses":{"200":{"description":"Return a 200 status to indicate that the data was received successfully"}}}},"TRIP_REASSIGN_BY_ADMIN":{"post":{"description":"Este status solo se envia cuando la reasignacion se hace desde el panel administrativo.","requestBody":{"description":"Viaje en proceso de reasignación en Yummy Rides","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tripReassignByAdmin"}}}},"responses":{"200":{"description":"Return a 200 status to indicate that the data was received successfully"}}}}},"components":{"schemas":{"tripStatus":{"required":["type","data"],"properties":{"type":{"type":"string","enum":["trip_update"]},"data":{"type":"object","properties":{"id":{"type":"string","description":"ID hash del viaje"},"unique_id":{"type":"number","description":"ID numerico del viaje"},"code":{"type":"number","enum":[1,2,4,6,7],"description":"Codigo numerico de status del viaje. 1 viaje aceptado por driver. 2 driver en camino a pickup. 4 driver llego a primera parada. 6 driver en camino a destino. 8 repartidor llegó destino. 9 viaje completado."},"orderId":{"type":"string","description":"ID de recurso en partner externo"},"sender":{"type":"object","properties":{"first_name":{"type":"string","description":"Nombre de persona que realiza el envio"},"last_name":{"type":"string","description":"Apellido de persona que realiza el envio"},"phone":{"type":"string","description":"Teléfono de persona que realiza el envio"}}},"receiver":{"type":"object","properties":{"first_name":{"type":"string","description":"Nombre de persona que recibe el envio"},"last_name":{"type":"string","description":"Apellido de persona que recibe el envio"},"phone":{"type":"string","description":"Teléfono de persona que recibe el envio"}}},"driver":{"type":"object","properties":{"first_name":{"type":"string","description":"Nombre de persona que recibe el envio"},"last_name":{"type":"string","description":"Apellido de persona que recibe el envio"},"phone":{"type":"string","description":"Teléfono de persona que recibe el envio"},"id":{"type":"string","description":"ID hash del driver"},"unique_id":{"type":"number","description":"ID numerico del driver"},"location":{"type":"array","description":"Array númerico con valor en posición 0 igual a latitud y valor en posición 1 igual a longitud","items":{"type":"number","format":"float"},"minItems":2,"maxItems":2}}}}}}},"tripCancel":{"required":["type","data"],"properties":{"type":{"type":"string","enum":["trip_cancel"]},"data":{"type":"object","properties":{"id":{"type":"string","description":"ID hash del viaje"},"unique_id":{"type":"number","description":"ID numerico del viaje"},"order_id":{"type":"string","description":"ID de recurso en partner externo"},"sender":{"type":"object","properties":{"first_name":{"type":"string","description":"Nombre de persona que realiza el envio"},"last_name":{"type":"string","description":"Apellido de persona que realiza el envio"},"phone":{"type":"string","description":"Teléfono de persona que realiza el envio"}}}}}}},"tripCancelByAdmin":{"required":["type","data"],"properties":{"type":{"type":"string","enum":["trip_cancel_by_admin"]},"data":{"type":"object","properties":{"id":{"type":"string","description":"ID hash del viaje"},"unique_id":{"type":"number","description":"ID numerico del viaje"},"order_id":{"type":"string","description":"ID de recurso en partner externo"},"sender":{"type":"object","properties":{"first_name":{"type":"string","description":"Nombre de persona que realiza el envio"},"last_name":{"type":"string","description":"Apellido de persona que realiza el envio"},"phone":{"type":"string","description":"Teléfono de persona que realiza el envio"}}}}}}},"tripReassign":{"required":["type","data"],"properties":{"type":{"type":"string","enum":["trip_reassign"]},"data":{"type":"object","properties":{"id":{"type":"string","description":"ID hash del viaje"},"unique_id":{"type":"number","description":"ID numerico del viaje"},"orderId":{"type":"string","description":"ID de recurso en partner externo"},"sender":{"type":"object","properties":{"first_name":{"type":"string","description":"Nombre de persona que realiza el envio"},"last_name":{"type":"string","description":"Apellido de persona que realiza el envio"},"phone":{"type":"string","description":"Teléfono de persona que realiza el envio"}}},"message":{"type":"string","example":"Se está reasignando a tu driver"}}}}},"tripReassignByAdmin":{"required":["type","data"],"properties":{"type":{"type":"string","enum":["trip_reassign_by_admin"]},"data":{"type":"object","properties":{"id":{"type":"string","description":"ID hash del viaje"},"unique_id":{"type":"number","description":"ID numerico del viaje"},"code":{"type":"number","enum":[1,2,4,6,8,9],"description":"Codigo numerico de status del viaje. 1 viaje aceptado por driver. 2 driver en camino a pickup. 4 driver llego a primera parada. 6 driver en camino a destino. 8 driver llego al destino. 9 viaje completado."},"orderId":{"type":"string","description":"ID de recurso en partner externo"},"quotationId":{"type":"string","description":"ID de la cotizacion del viaje"},"reassignmentByAdmin":{"type":"boolean","description":"Para indicar que es un viaje reasignado."},"sender":{"type":"object","properties":{"first_name":{"type":"string","description":"Nombre de persona que realiza el envio"},"last_name":{"type":"string","description":"Apellido de persona que realiza el envio"},"phone":{"type":"string","description":"Teléfono de persona que realiza el envio"}}},"receiver":{"type":"object","properties":{"first_name":{"type":"string","description":"Nombre de persona que recibe el envio"},"last_name":{"type":"string","description":"Apellido de persona que recibe el envio"},"phone":{"type":"string","description":"Teléfono de persona que recibe el envio"}}},"driver":{"type":"object","properties":{"first_name":{"type":"string","description":"Nombre de persona que recibe el envio"},"last_name":{"type":"string","description":"Apellido de persona que recibe el envio"},"phone":{"type":"string","description":"Teléfono de persona que recibe el envio"},"id":{"type":"string","description":"ID hash del driver"},"unique_id":{"type":"number","description":"ID numerico del driver"}}}}}}}}},"tags":[]}